<h1 style="text-align: center;">Demo Python</h1>
    <h1 style="text-align: center;"> SQL</h1>

### Docente: Danny Blanco
### Estudiante: 
### Correo: 
### Fecha:

## Importación de librerías

In [5]:
import pandas as pd
import getpass as gp
from sqlalchemy import create_engine

## Conexión y lectura de datos desde una base de datos SQL

In [7]:
server = 'DESKTOP-9U1Q5LL\CURSO_SQL'
database = 'Negocio'  
username = input('Usuario ' )
password = gp.getpass('Ingrese su contraseña ')

Usuario  sa
Ingrese su contraseña  ········

In [10]:
connection_url = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=SQL+Server'
engine = create_engine(connection_url)
query ='''
select 
	format( fecha, 'yyyy-MM') as Mes,
	comprador,
	sum(UF) as Suma_UF
from cbr
where foja>=100251 and foja <=100500
group by format( fecha, 'yyyy-MM'), comprador

order by comprador '''
df = pd.read_sql_query(query, engine)

df.head()

       Mes                                          comprador  Suma_UF
0  2021-12                         CARMEN VICTORIA TORC PARDO  3881.98
1  2021-12  FONDO DE INVERSIÓN SECURITY DEUDA HABITACIONAL...  1600.00
2  2021-12                     GIANITZA SOLANGE ACEVEDO JOFRE  1080.00
3  2021-12                          INMOBILIARIA MIRASCL S.A.   840.00
4  2021-12                        JUAN CARLOS VALENCIA RIVERA  7000.00

In [11]:
uf= 38000

df['CLP'] = df['Suma_UF'] * uf
df.head()

,Mes,comprador,Suma_UF,CLP
0,2021-12,CARMEN VICTORIA TORC PARDO,3881.98,147515240.0
1,2021-12,FONDO DE INVERSIÓN SECURITY DEUDA HABITACIONAL...,1600.00,60800000.0
2,2021-12,GIANITZA SOLANGE ACEVEDO JOFRE,1080.00,41040000.0
3,2021-12,INMOBILIARIA MIRASCL S.A.,840.00,31920000.0
4,2021-12,JUAN CARLOS VALENCIA RIVERA,7000.00,266000000.0

In [12]:
df.to_excel('resultado.xlsx', sheet_name='Resumen', index=False)